body {
  background-color: #ffe680;
}
h1 {
  color: #fe94c2;
  background-color: #ffe680;
  font-size: 200px;
  font-family: "Rubik Mono One", sans-serif;
  margin: -10px;
  text-align: center;
  padding: 150px;
}

h1:hover {
  cursor: crosshair;
  color: #ffe680;
  background-color: #fe94c2;
}

@media (max-width: 900px) {
  h1 {
    font-size: 100px;
  }
}
